<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task manager</title>
</head>
<body>
      <strong>
          <marquee>
              <strong>
                  Your personal task manager is here!
                  <br>
                  CRUD - create,read,update,delete powered by VaultMe.
              </strong>
          </marquee>
      </strong>

     <div>
         <a href="{% url 'add_task'%}">
             <button type="submit">Task manager</button>
         </a>
     </div>


</body>
</html>