<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reviews</title>
</head>
<body>
       <h4>give your valuable review to us </h4>
       <h6>Once your review submitted you couldnt edit or delete your review!</h6>

       <div>
           {% if messages %}
              {% for n in messages %}
                <p>{{n}}</p>
              {% endfor %}
           {% endif %}
       </div>

       <section>
           <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
               {{form.as_p}}
               <button type="submit">Done</button>
           </form>
       </section>
       <br>

       <a href="{% url 'view_reviews'%}">
           <button type="submit">All reviews</button>
       </a>
       <br>



</body>
</html>